@page
@model c_sharp_grad_frontend.Pages.DonateModel
@{
    ViewData["Title"] = "Donate";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/css/main.css" />
<script src="~/js/sweetalert2.all.min.js"></script>
<script src="~/js/sweethelper.js"></script>


<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

<nav class="navbar navbar-dark bg-dark" style="height:100px;">
    <!-- Navbar content -->

    <form class="form-inline">
        <button class="btn btn-danger" asp-page="/donate">Home</button>
        <button class="btn btn-danger" asp-page="/profile">Profile</button>
        <button class="btn btn-danger" asp-page="/donations">Donations</button>
        <button class="btn btn-danger" asp-page="/about">About</button>
        <button class="btn btn-danger" onclick="alert()">Logout</button>
    </form>
</nav>

<style>
    .container {
        margin: 1vh 0 5vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        height: 100%;
    }

    .secondContainer {
        margin: 1vh 0 5vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 80%;
        height: 100%;
    }

    .thirdContainer {
        margin: 1vh 0 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 100%;
    }

   h1 { 
        color: #ffffff; 
        font-family: 'Raleway',sans-serif; 
        font-size: 62px; 
        font-weight: 800; 
        line-height: 72px; 
        margin: 0 0 24px; 
        text-align: center; 
        text-transform: uppercase; 
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

</style>

<div style="height: 100%; width: 100%; background-color: red;">
    <div sytle="position: absolute;" id="carouselExampleControls" class="carousel slide " data-ride="carousel">
    
        <div class="carousel-inner vh-100">
            <div class="carousel-item h-100 active" style="background:url('https://images.unsplash.com/photo-1584281974155-20937774dfde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80'); background-size:cover">
                <div style="display: flex; align-items: center; justify-content: flex-start; margin: 4vh 1vw 2vh;">
                    <div class="container">
                        <h1> There are </h1>
                        <h1>@Model.global.NewDeaths new deaths</h1>
                        <h1>leading to a total of</h1>
                        <h1> @Model.global.TotalDeaths deaths.</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100" style="background:url('https://www.sagoodnews.co.za/wp-content/uploads/2020/05/sagoodnews-brandsa-foriegn.jpg'); background-size:cover">
            <div style="display: flex; align-items: center; justify-content: flex-end; margin: 4vh 1vw 2vh;">
                <div class="secondContainer">
                    <h1> Currently we have </h1>
                    <h1>@Model.global.NewConfirmed new cases</h1>
                    <h1>with</h1>
                    <h1> @Model.global.NewRecovered new recoveries.</h1>
                </div>
            </div>
            </div>
            <div class="carousel-item h-100" style="background:url('https://assets.entrepreneur.com/content/3x2/2000/20200323100221-chemistry.jpeg'); background-size:cover">
                <div style="display: flex; align-items: center; justify-content: center; margin: 4vh 0 2vh;">
                    <div class="thirdContainer">
                        <h1> There are </h1>
                        <h1>@Model.global.TotalConfirmed confirmed cases</h1>
                        <h1>with</h1>
                        <h1> @Model.global.TotalRecovered total recoveries.</h1>
                    </div>
                </div>
            </div>
        </div>
    
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    
    </div>
</div>
